![](Uber_Logo_Black_RGB.svg)

# UBER creative exercise

## Assumptions:
 * Drivers can have more than 1 car registered in the platform
 * No driver has more than 1 driver_uuid
 * Data is not "reliable" (imagine someone sent you this and you cannot query this again)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('uber_data.csv')

In [3]:
df.head()

                        driver_uuid license_plate
0  f794daa1e63029828ec58248549815d2       GFF3365
1  f794daa1e63029828ec58248549815d2       VUG7492
2  f794daa1e63029828ec58248549815d2       WRW9011
3  f794daa1e63029828ec58248549815d2       MEP7750
4  f794daa1e63029828ec58248549815d2       TGB5317

In [4]:
#Remove duplicates and null values
df.drop_duplicates(keep='first', inplace=True)
df.dropna(inplace=True)

#Validate driver_uuid
df = df[df['driver_uuid'].str.len() == 32]

#Validate license_plate
regex = '^[A-Z]{3}[0-9]{4}'
df = df[(df['license_plate'].str.contains(regex, regex=True))]

In [5]:
df = df.groupby('driver_uuid')['license_plate'].apply(list)
print(df.to_csv(sep='\t', index=False, header=False))

['GGH4862', 'XLV7496']
['TQM1200', 'DME1040', 'LGN2352']
['COW4700', 'IWB3665', 'OKE2560', 'CWD5656']
['BNP4738', 'DFB4890', 'EJL1388', 'FQD8091']
['BHI3579', 'DBX9467', 'XOC4014']
['GFF3365', 'VUG7492', 'WRW9011', 'MEP7750', 'TGB5317', 'AND5285']

In [6]:
#To see user_uuid and license driver
print(df.to_csv(sep='\t', index=True, header=False))

0eb9a9f7a3fd598c885c67af75645c06	['GGH4862', 'XLV7496']
8a0169c4bcdd439e53e6d9171163e67e	['TQM1200', 'DME1040', 'LGN2352']
b4490a4fd184cc2f12569750d50ad67c	['COW4700', 'IWB3665', 'OKE2560', 'CWD5656']
b56495d149fea002e04438a3369ab532	['BNP4738', 'DFB4890', 'EJL1388', 'FQD8091']
ee89076fd9da9bddf5f096b0ca42f8d5	['BHI3579', 'DBX9467', 'XOC4014']
f794daa1e63029828ec58248549815d2	['GFF3365', 'VUG7492', 'WRW9011', 'MEP7750', 'TGB5317', 'AND5285']